<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>wetBulb calculator</title>
  <script src="https://unpkg.com/htmx.org@1.9.3"
    integrity="sha384-lVb3Rd/Ca0AxaoZg5sACe8FJKF0tnUgR2Kd7ehUOG5GCcROv5uBIZsOqovBAcWua"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>

  <form id="form" method="get">
    <label for="lat">Latitud</label> <input id="lat" name="lat" type="number">
    <label for="lon">Longitud</label> <input id="lon" name="lon" type="number">
  </form>
  <button hx-include="form" hx-get="api/forecast" hx-trigger="responseForecast from:body"
    hx-params="*">forecast</button>
  <button hx-include="form" hx-get="api/wetBulb" hx-params="*" hx-target="#result" hx-swap="innerHTML">right
    now</button>
  <div id="result"></div>
  <canvas id="myChart"></canvas>
</body>
<script>
  const ctx = document.getElementById('myChart');
  document.body.addEventListener("responseForecast", function (evt) {
    console.log(evt.detail.value);
  })
</script>

</html>