:root {
  --width: 300px;
  box-sizing: border-box;
}

.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.Content {
  min-height: calc(100vh - 45px);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 30px;
}

footer {
  height: 15px;

  font-size: 0.7em;
}
.Chart {
  width: 90%;
  max-width: 800px;
  min-width: var(--width);
  min-height: var(--width);
}

canvas {
  width: 100% !important;
  height: 100% !important;
}

.DropdownContainer {
  width: var(--width);
}

.Dropdown {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: var(--width);
  width: var(--width);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  box-shadow: 5px 5px 5px rgba(5, 5, 5, 0.452);
}
ul {
  list-style-type: none;
  position: absolute;
  background-color: rgb(59, 59, 65);
}

li {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-size: 1em;
  align-items: flex-start;
  padding: 4px;
  border: solid white 1px;
  border-left: solid white 2px;
  border-right: solid white 2px;
  width: 100%;
}

li p {
  line-height: 0px;
}
li:hover {
  background-color: #3c4046;
}
.Input {
  width: var(--width);
  display: flex;
  flex-direction: row;
  align-items: center;
}
.Input input {
  width: 100%;
  height: 25px;
}

.Input img {
  width: 20px;
  height: 20px;
}
